
ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0.5rem;
    padding-right: 1rem;
}

li.professional-list-item:before {
    content: ">";
    padding-right: 1rem;
    color: grey;
}

.professional-container{
    width: 50rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: flex-start;
}

.card-list {
    margin-top: 2rem;
}

.professional-card {
    width: 26rem;
    margin-top: 0rem;
    background: #f2f2f2;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
}

.professional-card-non-first {
    margin-top: 2rem;
}

.card-title {
    font-size: 1rem;
}

.card-image {
    border-radius: 10%;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    align-items: center;
}

.card-text {
    color: grey;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.card-timeframe {
    font-style: italic;
}

.accordion-header {
    padding: 0;
}

.accordion-item {
    padding: 0;
    border: none;
    background: grey;
}

.experience-card {
    background: #ffffff;
    width: 26rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: none;
}

@media (max-width: 35rem) {
    .professional-container {
        width: 100vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .professional-card {
        width: 80vw;
    }
    .experience-card {
        width: 80vw;
    }
}
