
.projects-container{
    width: 50vw;
    height: 100vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.project-card{
    width: 18rem;
    margin: 2rem;
}