
.projects-container{
    width: 50rem;
    height: 100vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}

.project-card{
    width: 18rem;
    margin: 2rem;
    background: #f8f9fa;
    animation: cards-appear 3s linear
}

@keyframes cards-appear {
    0% { opacity: 0.5 }
    100% { opacity: 1 }
}